h1 {
    text-align: center;
}

.list {
    border: 1px solid black;
    max-width: 300px;
    overflow: scroll;
    height: 400px;
    margin: auto;
}

button {
    margin: 20px;
    width: 100px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

/* Search bar */
#searchBar {
    height: 32px;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 5px;
    width: 30%;
    border-radius: 15px;
    outline: none;
}

#searchWrapper {
    position: relative;
}



:root {
    --main-radius: 5px;
    --main-padding: 5px;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas: "nav nav nav nav"
                        "sidebar1 sidebar1 sidebar2 sidebar2"
                        "footer footer footer footer"
                        "footer footer footer footer";
    grid-gap: 0.2rem;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

nav {
    grid-area: nav;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#sidebar1 {
    grid-area: sidebar1;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#sidebar2 {
    grid-area: sidebar2;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}


footer {
    grid-area: footer;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#chart {
    max-width: 1200px;
    max-height: 800px;
    margin: auto;
}
